<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simplified Calculator</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body style="background:linear-gradient(to left,   
    #5aecff 50%,
    #d9e1e6 0%,
    #b1e1f1 50%,
    #33ccff 100%);">
        <div style= "padding-top: 1%;">
        <h1 style = "font-size: 20px; padding-left: 2%;">Calculator App</h1>
         </div>
        <div class="container-fluid" style = "padding-left: 3%; padding-top: 2%; border-bottom-left-radius: 1%; background-color:lightgoldenrodyellow">
            <form action="/Calculatemaths" method="post">
                Enter Number and press Enter: <input type="text" name="Number">
                <input type="submit" value="Enter">
              </form>
    <p>     Results</p>
      
        Addition is:      <input type="text" name="usrname" value={{.Addition}}> 

        <br> <br>

        Subtraction is:      <input type="text" name="usrname" value={{.Subtraction}}> 

        <br> <br>

        Multiplication is:      <input type="text" name="usrname" value={{.Multiplication}}> 

        <br> <br>

        Division is:      <input type="text" name="usrname" value={{.Division}}> 
        <br> <br>

    <!-- <form action="/answers" id="usrform">
        Answer is:      <input type="text" name="usrname" value="{{.}}"> 
    </form> -->

    <form action="/Reset" method="post">
        <input type="submit" value="Reset">
    </form>
                  <br></br>
        </div>
    </body>
</html>

